#chatbot-container {
    border: 1px solid black;
    border-radius: 8px;
    height: 50rem;
    width: 40rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 4rem;
    overflow: hidden;
    position: relative;
}

#messages-container {
    max-height: 92.5%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 1rem;
}

.message-container {
    border: 2px solid purple;
    padding: 0.5rem;
    border-radius: 8px;
    margin-bottom: 0.5rem;
    max-width: 30ch;
    line-height: 20px;
    overflow-wrap: break-word;
}

.left {
    align-self: flex-start;
}

.right {
    align-self: flex-end;
}

#message-input-container {
    border-top: 2px solid black;
    width: 100%;
    position: absolute;
    bottom: 5px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 0.5rem;
    padding: 1rem;
    background-color: white;
}

#message-input-field-container {
    /* border: 2px solid gold; */
    position: relative;
}

#message-input-field {
    font-size: 1.5rem;
    width: 35ch;
    padding: 0.25rem 0.5rem;
    max-height: 7rem;
    resize: none;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-y: hidden;
    scroll-behavior: smooth;
    outline: none;
    outline: 1px solid black;
    height: 2rem;
    border-radius: 8px;
}

.input-btn {
    position: absolute;
    width: 2.25rem;
    cursor: pointer;
    border-radius: 50%;
    background: none;
    border: none;
    cursor: pointer;
    bottom: 50%;
    transform: translateY(50%);
}

.right-input-btn {
    right: 2.75%;
}

.left-input-btn {
    left: 2.75%;
}

.listening-animation {
    animation: listening-animation 1000ms ease 0ms infinite alternate;
}

@keyframes listening-animation {
    from {
        background-color: rgb(0, 0, 0, 0);
    }

    to {
        background-color: rgb(0, 0, 0, 0.35);
    }
}

#send-btn-icon {
    color: black;
    width: 100%;
}

.dots-container {
    display: flex;
    
    height: 100%;
    width: 100%;
}

.dot {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #b3d4fc;
    animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
    margin-right: 0;
}

.dot:nth-child(1) {
    animation-delay: -0.3s;
}

.dot:nth-child(2) {
    animation-delay: -0.1s;
}

.dot:nth-child(3) {
    animation-delay: 0.1s;
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
        background-color: #b3d4fc;
        box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }

    50% {
        transform: scale(1.2);
        background-color: #6793fb;
        box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
    }

    100% {
        transform: scale(0.8);
        background-color: #b3d4fc;
        box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
}